.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 1000;
}
h5 {
  color: var(--gray-1);
  font-size: 1.25rem;
  font-weight: 600;
}

code {
  color: var(--gray-1);
  font-size: 1rem;
  font-weight: 100;
}

.modal-content {
  background-color: var(--gray-10);
  padding: 20px;
  border-radius: 5px;
  border: 1px solid var(--gray-8);
  width: 600px;
  max-width: 90%;
  margin-top: 50px;
}

.modal-header {
  margin-bottom: 15px;
}

.modal-title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  margin-bottom: 15px;
  border: 
}

.embed-code {
  background-color: var(--gray-10);
  padding: 0px;
  margin: 0px; 
  max-height: auto;
  max-width: auto;
  white-space: pre-wrap;
  word-break: break-all;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--blue-5);
  color: white;
}

.btn-primary:hover {
  background-color: var(--blue-6);
}

.btn-secondary {
  padding: 0.5rem 1rem;
  background-color: var(--black-10);
  font-size: 1rem;
  font-weight: 600;
  color: var(--gray-1);
  border: 1px solid var(--gray-8);
  border-radius: 0.25rem;;
}

.btn-secondary:hover {
  background-color: var(--gray-10);
}