:root {
  --gray-0: #f6f8fa; /* Lightest shade */
  --gray-1: #eaeef2;
  --gray-2: #d0d7de;
  --gray-3: #afb8c1;
  --gray-4: #8c959f;
  --gray-5: #6e7781;
  --gray-6: #57606a;
  --gray-7: #424a53;
  --gray-8: #32383f;
  --gray-9: #24292f;
  --gray-10: #111418; /* Darkest shade */
  --blue-0: #ddf4ff; /* Lightest shade */
  --blue-1: #b6e3ff;
  --blue-2: #80ccff;
  --blue-3: #54aeff;
  --blue-4: #218bff;
  --blue-5: #0969da;
  --blue-6: #0550ae;
  --blue-7: #033d8b;
  --blue-8: #0a3069;
  --blue-9: #002155;
  --blue-10: #000d2a; /* Darkest shade */
  --green-0: #dafbe1; /* Lightest shade */
  --green-1: #aceebb;
  --green-2: #6fdd8b;
  --green-3: #4ac26b;
  --green-4: #2da44e;
  --green-5: #1a7f37;
  --green-6: #116329;
  --green-7: #044f1e;
  --green-8: #003d16;
  --green-9: #002d11;
  --green-10: #001505; /* Darkest shade */
  --purple-0: #fbefff; /* Lightest shade */
  --purple-1: #ecd8ff;
  --purple-2: #d8b9ff;
  --purple-3: #c297ff;
  --purple-4: #a475f9;
  --purple-5: #8250df;
  --purple-6: #6639ba;
  --purple-7: #512a97;
  --purple-8: #3e1f79;
  --purple-9: #2e1461;
  --purple-10: #160735; /* Darkest shade */
  --black-10: #06080a;
  --white-10: #f7f7f7;
}
