input {
  border: 1px solid var(--color-slate-900);
  padding: 8px;
  background-color: var(--color-slate-950);
  color: var(--color-slate-300);
  font-size: var(--font-sm);
  border-radius: 2px;
  outline: none;  /* Removes the default focus outline */
  max-width: 55px;
  max-height: 10px;
  cursor: default;
}

input:hover {
  border: 1px solid var(--color-slate-800);  /* Light gray border by default */
  outline: none; 
}

input:focus {
  border-color: var(--color-blue-600);
  color: var(--color-blue-600);
}

input::selection {
  background-color: var(--color-blue-900);/* Light blue highlight */
  color: var(--color-blue-300);
}

/* Hide number arrows in input type number (below) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}


/* Colour picker */
#colorPicker {
  /* Your styles here */
  border: 2px solid black; !important;
  padding: 0px; !important;

}