input {
  border: 2px solid var(--color-gray-900);
  padding: 8px;
  background-color: var(--color-gray-900);
  color: var(--color-gray-300);
  font-size: var(--font-sm);
  border-radius: 2px;
  outline: none;  
  max-width: 55px;
  max-height: 10px;
  cursor: default;
}

input:hover {
  background-color: var(--color-gray-800);  
  outline: none; 
}

input:focus {
  border-color: var(--color-blue-600);
  background-color: var(--color-gray-950);
}

input::selection {
  background-color: var(--color-blue-600);
  color: white;
}

/* Hide number arrows in input type number (below) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}


/* Colour picker */
#colorPicker {
  /* Your styles here */
  border: 2px solid black; !important;
  padding: 0px; !important;

}