/* Default Button Styles  */
:root {
  
   
  --button-bg-color: #2563eb;
  --button-text-color: white;
  --button-border: 1px solid #ffffff;
  --button-border-radius: 5px;
  --button-padding: 10px 20px;
  --button-margin: 10px;
  --button-text-font-size: 18px;
  --button-text-font-weight: bold;
  --color-blue-50: #ddf4ff;
  --color-blue-300: #54aeff;
  --color-blue-600: #0550ae;
  --color-blue-800: #0a3069;
  --color-blue-900: #002155;
  --color-blue-1000: #000d2a;
  --color-gray-300: #afb8c1;
  --color-gray-400: #8c959f;
  --color-gray-500: #6e7781;
  --color-gray-800: #2d333a;
  --color-gray-900: #1a1e23;
  --color-gray-1000: #030405;
  --font-md: 1rem;
  --font-sm: 0.875rem;
}

/* Button Styles */

#Button {
  width: max(var(--button-width, auto), fit-content);
  height: var(--button-height, auto);
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: var(--button-border);
  border-radius: var(--button-border-radius);
  padding: var(--button-padding);
  margin: var(--button-margin);
  font-size: var(--button-text-font-size);
  white-space: nowrap;
  display: inline-block;
}
