/* Default Button Styles  */
:root {
  --button-width: 200px;
  --button-height: 60px;
  --button-bg-color: #2563eb;
  --button-text-color: white;
  --button-border: 1px solid #ffffff;
  --button-border-radius: 5px;
  --button-padding: 10px 20px;
  --button-margin: 10px;
  --button-text-font-size: 18px;
  --button-text-font-weight: bold;
  --color-blue-50: #eff6ff;
  --color-blue-300: #93c5fd;
  --color-blue-600: #2563eb;
  --color-blue-800: #1e40af;
  --color-blue-900: #1e3a8a;
  --color-blue-950: #172554;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --color-gray-950: #020617;
  --font-md: 1rem;
  --font-sm: 0.875rem;
}

/* Button Styles */

#Button {
  width: var(--button-width, auto);
  height: var(--button-height);
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: var(--button-border);
  border-radius: var(--button-border-radius);
  padding: var(--button-padding);
  margin: var(--button-margin);
  font-size: var(--button-text-font-size);
  white-space: nowrap;
  display: inline-block;
}
